<settings>
    <servers>
        <!-- Starburst Maven Snapshot Repository -->
        <server>
            <id>starburstdata.snapshots</id>
            <username>maven</username>
            <password>${env.mavenCredentials}</password>
            <configuration>
                <httpConfiguration>
                    <all>
                        <usePreemptive>true</usePreemptive>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>

        <!-- Starburst Maven Release Repository -->
        <server>
            <id>starburstdata.releases</id>
            <username>maven</username>
            <password>${env.mavenCredentials}</password>
            <configuration>
                <httpConfiguration>
                    <all>
                        <usePreemptive>true</usePreemptive>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>

        <!-- Starburst Docker registry -->
        <server>
            <id>harbor.starburstdata.net</id>
            <username>admin</username>
            <password>${env.dockerCredentials}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>oss-release</id>
            <properties>
                <gpg.skip>true</gpg.skip>
            </properties>
        </profile>
        <profile>
            <id>starburst</id>
            <properties>
                <gpg.skip>true</gpg.skip>
                <air.repository.snapshot.id>starburstdata.snapshots</air.repository.snapshot.id>
                <air.repository.snapshot.name>Starburstdata Snapshots</air.repository.snapshot.name>
                <air.repository.snapshot.url>https://maven.starburstdata.net/starburstdata-artifacts-testing/snapshots</air.repository.snapshot.url>
                <air.repository.release.id>starburstdata.releases</air.repository.release.id>
                <air.repository.release.name>Starburstdata Releases</air.repository.release.name>
                <air.repository.release.url>https://maven.starburstdata.net/starburstdata-artifacts-testing/releases</air.repository.release.url>
            </properties>
        </profile>
    </profiles>
</settings>

